input {
  outline: none;
  border: unset;
  background-color: unset;
}

.info--container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
}

.info--wrap {
  width: calc(100% - 208px);
  max-width: 1020px;
  margin: 0 auto;
  padding: 67px 0 80px;
  padding-left: 104px;
}

.info--side {
  width: 100%;
  max-width: 208px;
  padding: 80px 12px;
  border-right: 1px solid #E9EAED;
}

.info--side a {
  display: block;
  line-height: 1;
}

.info--side-tab1 p {
  cursor: pointer;
}

.info--side-text1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.info--side-text2 {
  font-size: 18px;
  font-weight: 600;
}

.info--side-text3 {
  font-size: 16px;
  font-weight: 600;
}

a.info--side-text2,
p.info--side-text2 {
  padding: 13px 0;
  color: #121619;
}

a.info--side-text3,
p.info--side-text3 {
  padding: 11px 0;
  color: #656A71;
  font-weight: 500;
}

a.info--side-last-button,
p.info--side-last-button {
  color: #0057FF;
  border: 1px solid #0057FF;
  padding: 19px 0;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  max-width: 160px;
  width: 100%;
  margin-top: 40px;
}

.info--side .now {
  color: #0057FF;
}

.info--side-tab2 {
  display: none;
}

.info--side-tab2.open {
  display: block;
}

@media all and (max-width: 1024px) {
  .info--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .info--side {
    max-width: unset;
    padding-top: 0;
  }
  .info--container {
    overflow: hidden;
  }
  .info--wrap {
    width: 100%;
    padding: 0 40px;
    margin-top: 80px;
  }
  .info--side {
    overflow: hidden;
    padding-bottom: 0px;
    overflow: scroll;
  }
  .info--side-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 480px;
  }
  .info--side::-webkit-scrollbar {
    display: none;
  }
  .info--side-text1 {
    display: none;
  }
  a.info--side-text2,
  p.info--side-text2 {
    padding: 13px 0;
    color: #959aa0;
    font-size: 14px;
  }
  .info--side .now {
    color: #121619;
    font-weight: 800;
  }
  .info--side-tab1:not(:nth-child(2)) {
    margin-left: 20px;
  }
}

@media all and (max-width: 767px) {
  .info--container {
    margin-top: 60px;
  }
}

@media all and (max-width: 480px) {
  .info--wrap {
    padding: 0 20px;
  }
}

.info--wrap-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info--wrap-title-text01 {
  font-size: 32px;
  letter-spacing: -0.02em;
  font-weight: 600;
  margin-top: 13px;
}

.info--wrap-title-text02 {
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #656A71;
  margin-top: 0.5em;
  font-weight: 500;
}

.info--wrap-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info--wrap-etc {
  position: relative;
}

.info--wrap-etc img {
  width: 60px;
  height: 60px;
}

.info--wrap-etc .info--deny {
  color: #FF003B;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.info--wrap-etc .info--permission {
  color: #0057FF;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.info--deny {
  display: none;
}

.info--permission {
  display: block;
}

.if-deny {
  color: #656A71;
  font-size: 14px;
  letter-spacing: -0.02em;
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 12px 26px;
  position: absolute;
  left: -26px;
  width: 312px;
  text-align: center;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  top: 60%;
  display: none;
}

.info--wrap-require {
  color: #FF003B;
  font-size: 14px;
  letter-spacing: -0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info--wrap-require span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FF003B;
  margin-right: 5px;
}

.info--wrap-body {
  padding-top: 80px;
}

.info--wrap-body-row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 2px solid #121619;
}

.info--wrap-body-row-text01 {
  font-size: 20px;
  font-weight: 700;
}

.info--wrap-body-row-content {
  padding-top: 46px;
  padding-bottom: 80px;
}

.info--wrap-body-row-inputRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  font-size: 16px;
}

.info--wrap-body-row-noInputRow {
  margin-bottom: 35px;
}

.info--wrap-body-row-inputRow-atMark {
  padding: 0 4px;
  font-size: 15px;
  color: #121619;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -12px;
}

.info--wrap-body-row-inputRow-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  min-width: 125px;
  font-weight: 600;
}

.info--wrap-body-row-inputRow-title.require span {
  width: 4px;
  height: 4px;
  display: block;
  margin-left: 4px;
  border-radius: 50%;
  background-color: #FF003B;
}

.info--wrap-body-row-inputRow-title.upper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 12px;
}

.info--wrap-body-row-inputRow-title.upper span {
  margin-top: 4px;
}

.info--wrap-body-row-inputRow-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.info--wrap-body-row-inputRow-input-relative {
  position: relative;
  opacity: 1;
  padding: 19px 12px;
  font-size: 14px;
  color: #121619;
}

.info--wrap-body-row-inputRow input::-webkit-input-placeholder {
  color: #aaaaaa;
}

.info--wrap-body-row-inputRow input:-ms-input-placeholder {
  color: #aaaaaa;
}

.info--wrap-body-row-inputRow input::-ms-input-placeholder {
  color: #aaaaaa;
}

.info--wrap-body-row-inputRow input::placeholder {
  color: #aaaaaa;
}

.info--wrap-body-row-inputRow textarea {
  border: 0px solid #121619;
  outline: none;
  resize: none;
  border-radius: 6px;
  font-family: 'Pretendard';
  height: 156px;
}

.info--wrap-body-row-inputRow textarea:focus {
  border: 0px solid #121619;
  outline: none;
}

.info--wrap-body-row-inputRow textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}

.info--wrap-body-row-inputRow textarea:-ms-input-placeholder {
  color: #aaaaaa;
}

.info--wrap-body-row-inputRow textarea::-ms-input-placeholder {
  color: #aaaaaa;
}

.info--wrap-body-row-inputRow textarea::placeholder {
  color: #aaaaaa;
}

.info--wrap-body-row-inputRow-selectButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 40px 20px 12px;
  position: relative;
  cursor: pointer;
  font-weight: 500;
}

.info--wrap-body-row-inputRow-selectButton span {
  width: 9px;
  height: 9px;
  border: solid #A8B2bF;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 50%;
  right: 18px;
  -webkit-transform: translate(0, -75%) rotate(45deg);
          transform: translate(0, -75%) rotate(45deg);
}

.info--wrap-body-row-inputRow-list {
  position: absolute;
  border: 1px solid #dddddd;
  width: calc(100% + 2px);
  left: -1px;
  border-radius: 6px;
  background-color: #fff;
  top: -1px;
  z-index: 55;
}

.info--wrap-body-row-inputRow-list {
  display: none;
}

.info--wrap-body-row-inputRow-list.show {
  display: block;
}

.info--wrap-body-row-inputRow-listItem {
  padding: 18px 12px;
  font-weight: 500;
  border-radius: 6px;
  line-height: 1.2;
}

.info--wrap-body-row-inputRow-listItem:hover {
  background-color: #efefef;
}

.info--wrap-body-row-inputRow-fileUploadButton {
  padding: 17px 0;
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #121619;
  color: #fff;
  border-radius: 6px;
  background-color: #121619;
}

.info--wrap-body-row-inputRow-exp {
  font-size: 12px;
  color: #656A71;
}

.info--input {
  border: 1px solid #dddddd;
  border-radius: 6px;
}

.input-box100 {
  max-width: 100px;
}

.input-box200 {
  max-width: 188px;
}

.input-box300 {
  max-width: 292px;
}

.input-box400 {
  max-width: 396px;
}

.input-box700 {
  max-width: 708px;
}

.input-box700 {
  width: 100%;
}

.info--input-first {
  width: calc(100% - 10px);
  margin-right: 12px;
}

.input--wrap-body-row-inputRow-filePath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 18px 12px 20px;
  color: #656A71;
}

.info--wrap-body-row-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info--wrap-body-submitButtom {
  font-size: 16px;
  color: #fff;
  background-color: #0057FF;
  width: 188px;
  text-align: center;
  padding: 18px 0;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.no-border {
  border: unset;
}

@media all and (max-width: 767px) {
  .info--wrap-body-row-inputRow {
    font-size: 14px;
  }
  .info--wrap-body-row-inputRow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info--wrap-body-row-inputRow-title {
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
    font-size: 14px;
  }
  .info--wrap-body-row-inputRow-input-relative {
    font-size: 13px;
    padding: 14px 10px;
  }
  .info--wrap-body-row-inputRow-listItem {
    padding: 14px 10px;
  }
  .info--wrap-body-row-inputRow-selectButton {
    padding: 14px 10px;
  }
  .info--input-first {
    margin: 0;
    margin-bottom: 12px;
  }
  .input-box100 {
    max-width: 100px;
  }
  .input-box200 {
    max-width: 188px;
  }
  .input-box300 {
    max-width: unset;
  }
  .input-box400 {
    max-width: unset;
  }
  .input-box700 {
    max-width: 708px;
  }
  .info--wrap-body-row-inputRow-fileUploadButton {
    padding: 12px 0;
    font-size: 12px;
  }
  .info--wrap-body-row-content {
    padding-top: 24px;
    padding-bottom: 40px;
  }
}

.info--wrap-etc-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info--search-input {
  width: 292px;
  border-bottom: 2px solid #121619;
  padding: 16px 12px;
  font-size: 16px;
}

.info--search-input::-webkit-input-placeholder {
  color: #aaaaaa;
}

.info--search-input:-ms-input-placeholder {
  color: #aaaaaa;
}

.info--search-input::-ms-input-placeholder {
  color: #aaaaaa;
}

.info--search-input::placeholder {
  color: #aaaaaa;
}

.info--searchIcon {
  width: 52px;
  height: 52px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

.info--searchIcon span {
  display: block;
  position: absolute;
}

.info--searchIcon span:nth-child(1) {
  width: 17px;
  height: 17px;
  border: 2px solid #121619;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.info--searchIcon span:nth-child(2) {
  width: 2px;
  height: 5px;
  bottom: 50%;
  right: 50%;
  -webkit-transform: rotate(-45deg) translate(-3px, 14px);
          transform: rotate(-45deg) translate(-3px, 14px);
  background-color: #121619;
}

.info--wrap-body2 {
  padding-top: 103px;
  overflow: hidden;
}

.info--wrap-body2-boardListItem {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #dddddd;
}

.info--wrap-body2-text01 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 12px;
  border-bottom: 2px solid #121619;
}

.info--wrap-body2-text02 {
  font-size: 16px;
  margin-bottom: 0.5em;
  margin-top: 10px;
  font-weight: 500;
}

.info--wrap-body2-text03 {
  font-size: 14px;
  color: #959aa0;
  font-weight: 400;
}

.info--wrap-body2-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info--wrap-body2-box2-arrowBox {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info--wrap-body2-box2 .right-arrow {
  width: 9px;
  height: 9px;
  display: block;
  border: solid #121619;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.info--wrap-body2-reply {
  margin-left: 28px;
}

.info--wrap-body2-reply-button {
  width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 50px;
  border-width: 1px;
  border-style: solid;
  padding: 8px 0;
}

.info--wrap-body2-reply-true {
  color: #0057FF;
  border-color: #0057FF;
}

.info--wrap-body2-reply-false {
  color: #959aa0;
  border-color: #959aa0;
}

.info--wrap-body2-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 500;
}

.info--wrap-body2-id span {
  display: block;
  margin: 0 4px;
  height: 12px;
  width: 1px;
  background-color: #A8B2bF;
}

.info--wrap-body2-boardIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
}

.info--wrap-body2-board-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info--wrap-body2-board-numbers a {
  font-size: 16px;
  color: #959aa0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  font-weight: 500;
}

.info--wrap-body2-board-numbers a:not(:first-child) {
  margin-left: 4px;
}

.info--wrap-body2-board-numbers a.now {
  border-radius: 50%;
  background-color: #0057FF;
  color: #fff;
}

.info--wrap-body2-board-indexRight,
.info--wrap-body2-board-indexLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info--wrap-body2-boardToStart,
.info--wrap-body2-boardToEnd,
.info--wrap-body2-boardToPrev,
.info--wrap-body2-boardToNext {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.info--wrap-body2-board-indexRight span,
.info--wrap-body2-board-indexLeft span {
  width: 8px;
  height: 8px;
  display: block;
  border: solid #dddddd;
  border-width: 0 1px 1px 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.info--wrap-body2-board-indexRight .active span,
.info--wrap-body2-board-indexLeft .active span {
  border: solid #656A71;
  border-width: 0 1px 1px 0;
}

.info--wrap-body2-boardToPrev span {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.info--wrap-body2-boardToStart span:nth-child(1) {
  -webkit-transform: translate(calc(-50% - 1px), -50%) rotate(135deg);
          transform: translate(calc(-50% - 1px), -50%) rotate(135deg);
}

.info--wrap-body2-boardToStart span:nth-child(2) {
  -webkit-transform: translate(calc(-50% + 6px), -50%) rotate(135deg);
          transform: translate(calc(-50% + 6px), -50%) rotate(135deg);
}

.info--wrap-body2-boardToNext span {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.info--wrap-body2-boardToEnd span:nth-child(1) {
  -webkit-transform: translate(calc(-50% - 6px), -50%) rotate(-45deg);
          transform: translate(calc(-50% - 6px), -50%) rotate(-45deg);
}

.info--wrap-body2-boardToEnd span:nth-child(2) {
  -webkit-transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
          transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
}

.info--wrap-body2a-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #dddddd;
}

.info--wrap-body2-arrowRight {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info--wrap-body2-arrowRight span {
  width: 9px;
  height: 9px;
  display: block;
  border: solid #121619;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.info--wrap-body2a-body {
  border-bottom: 1px solid #dddddd;
}

.info--wrap-body2a-body {
  padding: 24px 0 40px;
  border-bottom: 1p solid #dddddd;
}

.info--wrap-body2a-main {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

.info--wrap-body2a-download {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info--wrap-body2a-download a {
  width: 220px;
  height: 56px;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #cccccc;
}

.info--wrap-body2a-download a:not(:first-child) {
  margin-left: 20px;
}

.info--wrap-body2a-download svg {
  width: 13px;
  height: 12px;
}

.info--wrap-body2a-download-icon {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info--wrap-body2a-reply {
  background-color: #f7f7f7;
  border-radius: 6px;
  padding: 35px 24px 35px 38px;
  margin-top: 40px;
}

.info--wrap-body2a-reply-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info--wrap-body2a-reply-head-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info--wrap-body2a-reply-head-box1-text1 {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 800;
}

.info--wrap-body2a-reply-head-box1-text2 {
  color: #959aa0;
  font-size: 14px;
}

.info--wrap-body2a-reply-head-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #959aa0;
}

.info--wrap-body2a-reply-head-box2 span {
  width: 1px;
  height: 16px;
  background-color: #959aa0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 4px;
}

.info--wrap-body2a-reply-body p {
  line-height: 1.5;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 400;
}

.info--wrap-body2a-foot {
  margin-top: 40px;
}

.info--wrap-body2a-foot-buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info--wrap-body2a-foot-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 19px 0;
  border-radius: 6px;
  line-height: 1;
}

.info--wrap-body2a-foot-button:not(:first-child) {
  margin-left: 20px;
}

.info--wrap-body2a-foot-button01 {
  background-color: #fff !important;
  border: 1px solid #0057FF !important;
  color: #0057FF !important;
}

.info--wrap-body2a-foot-button02 {
  background-color: #0057FF !important;
  border: 1px solid #0057FF !important;
  color: #fff !important;
}

.info--wrap-body2a-foot-button03 {
  background-color: #fff !important;
  border: 1px solid #dddddd !important;
  color: #656A71 !important;
}

.info--wrap-body2a-foot-buttonLarge {
  width: 188px;
}

.info--wrap-body2a-foot-buttonSmall {
  width: 84px;
}

.info--wrap-body2a-foot-form textarea {
  border: 1px solid #dddddd;
  width: 100%;
  border-radius: 6px;
  padding: 20px;
  font-size: 16px;
  height: 172px;
}

.info--wrap-body2a-foot-form textarea:focus {
  border: 1px solid #dddddd;
  outline-color: #dddddd;
}

.info--wrap-body2a-foot-form textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}

.info--wrap-body2a-foot-form textarea:-ms-input-placeholder {
  color: #aaaaaa;
}

.info--wrap-body2a-foot-form textarea::-ms-input-placeholder {
  color: #aaaaaa;
}

.info--wrap-body2a-foot-form textarea::placeholder {
  color: #aaaaaa;
}

.info--wrap-body2a--foot-form-buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.info--wrap-body2a--foot-form-buttonWrap button {
  border: 1px solid #dddddd;
  color: #656A71;
  background-color: #fff;
}

.info--wrap-body2-table {
  width: 100%;
  overflow-x: scroll;
}

.info--wrap-body2-table::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 6px;
}

.info--wrap-body2-table::-webkit-scrollbar {
  background-color: #fff;
  height: 8px;
}

.info--wrap-body2-tableWrap {
  min-width: 800px;
}

.info--wrap-body2-table-class {
  border-bottom: 2px solid #121619;
  padding: 17px 0;
}

.info--wrap-body2-table-class,
.info--wrap-body2-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info--wrap-body2-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0;
  border-bottom: 1px solid #dddddd;
}

.info--wrap-body2-table-row p {
  font-size: 14px;
  font-weight: 500;
}

.info--wrap-body2-table-class p {
  font-size: 16px;
  font-weight: 600;
}

.info--wrap-body2-table-class p,
.info--wrap-body2-table-row p {
  text-align: center;
}

.info--wrap-body2-table-class p:nth-child(1),
.info--wrap-body2-table-row p:nth-child(1) {
  width: 110px;
}

.info--wrap-body2-table-class p:nth-child(2),
.info--wrap-body2-table-row p:nth-child(2) {
  width: 140px;
}

.info--wrap-body2-table-class p:nth-child(3),
.info--wrap-body2-table-row p:nth-child(3) {
  width: 122px;
}

.info--wrap-body2-table-class p:nth-child(4),
.info--wrap-body2-table-row p:nth-child(4) {
  width: 130px;
}

.info--wrap-body2-table-class p:nth-child(5),
.info--wrap-body2-table-row p:nth-child(5) {
  width: 100px;
}

.info--wrap-body2-table-class p:nth-child(6),
.info--wrap-body2-table-row p:nth-child(6) {
  width: 200px;
}
/*# sourceMappingURL=info.css.map */