@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"), url("/font/woff2/Pretendard-Black.woff2") format("woff2"), url("/font/woff/Pretendard-Black.woff") format("woff"), url("/font/otf/Pretendard-Black.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"), url("/font/woff2/Pretendard-ExtraBold.woff2") format("woff2"), url("/font/woff/Pretendard-ExtraBold.woff") format("woff"), url("/font/otf/Pretendard-ExtraBold.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"), url("/font/woff2/Pretendard-Bold.woff2") format("woff2"), url("/font/woff/Pretendard-Bold.woff") format("woff"), url("/font/otf/Pretendard-Bold.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"), url("/font/woff2/Pretendard-SemiBold.woff2") format("woff2"), url("/font/woff/Pretendard-SemiBold.woff") format("woff"), url("/font/otf/Pretendard-SemiBold.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"), url("/font/woff2/Pretendard-Medium.woff2") format("woff2"), url("/font/woff/Pretendard-Medium.woff") format("woff"), url("/font/otf/Pretendard-Medium.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"), url("/font/woff2/Pretendard-Regular.woff2") format("woff2"), url("/font/woff/Pretendard-Regular.woff") format("woff"), url("/font/otf/Pretendard-Regular.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"), url("/font/woff2/Pretendard-Light.woff2") format("woff2"), url("/font/woff/Pretendard-Light.woff") format("woff"), url("/font/otf/Pretendard-Light.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"), url("/font/woff2/Pretendard-ExtraLight.woff2") format("woff2"), url("/font/woff/Pretendard-ExtraLight.woff") format("woff"), url("/font/otf/Pretendard-ExtraLight.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"), url("/font/woff2/Pretendard-Thin.woff2") format("woff2"), url("/font/woff/Pretendard-Thin.woff") format("woff"), url("/font/otf/Pretendard-Thin.otf") format("otf");
}


$blue : #0057FF;
$red : #FF003B;
$dark : #121619;
$slateGrey : #656A71;
$greyBlue : #A8B2bF;
$paleGrey : #E9EAED;
$white : #dddddd;

body{font-family: 'Pretendard';color: $dark;font-size: 14px;letter-spacing: -0.02em;}
textarea,input{font-family: 'Pretendard';}
textarea{resize: none;}

textarea::placeholder,
input::placeholder{letter-spacing: -0.02em;}
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a,a:visited{color: inherit;text-decoration: none;word-break: keep-all;}
p{line-height: 1;word-break: keep-all;}
.relative{position: relative;}
.opac0{opacity: 0;}
.fw600{font-weight: 600;}

.fontSize01{font-size: 32px;}
.fontSize02{font-size: 18px;}

.public--wrap{padding: 0 40px;}
@media all and (max-width:480px){
    .public--wrap{padding: 0 20px;}
}

#header{position: fixed;top:0;left: 0;width: 100%;}
.header--wrap{padding:24px;background-color: #fff;display: flex;justify-content: space-between;border: 1px solid $paleGrey;}
.header--logo{padding: 0 18px;display: flex;align-items: center;justify-content: center;}
.header--logo img{width: 64px;}

.header--content{display: flex;justify-content: space-between;position: relative;}
.header--menu{font-size: 18px;font-weight: 500;display: flex;align-items: center;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100%;max-width: 1228px;}
.header--menu a{padding: 20px;}
#memberIcon{border: unset;}

.header--info{display: flex;align-items: center;font-size: 14px;font-weight: 400;}
.header--member{margin-right: 12px;}
.header--member svg{width: 32px;height: 32px;}
.header--ham{display: flex;align-items: center;}
.header--ham-text{margin-right: 16px;}
.header--ham-button{width: 28px;height: 16px;position: relative;}
.header--ham-button span{width: 100%;height: 2px;display: block;position: absolute;background-color: $dark;left: 0;}
.header--ham-button span:nth-child(2){top: 50%;transform: translate(0,-50%);}
.header--ham-button span:nth-child(3){top: 100%;transform: translate(0,-100%);}
@media all and (max-width:1480px){
    
}
// footer
.footer--wrap{background-color: rgb(251,251,251);}